!!! 5
%html
  %head
    %title
      CA Example
    %link{:rel => 'stylesheet', :href => 'css/bootstrap.min.css'}
    %link{:rel => 'stylesheet', :href => 'css/style.css'}
    %script{:type => 'text/javascript', :src => 'js/jquery-2.0.2.min.js'}
    %script{:type => 'text/javascript', :src => 'js/application.js'}
  %body
    .row
      .span4.offset2
        %h3
          Generate certificate
    .row
      %form#generate{:action => '/generate', :method => 'post'}
        %fieldset
          .row
            .span4.offset2
              %label{:for => 'type'}
                Type:
              %select{:name => 'type', :id => 'type'}
                %option
                  Mail
                %option
                  Websites
                %option
                  Code signing
              %label{:for => 'keygen'}
                Encryption:
              %keygen#keygen{:name => 'keygen', :challenge => 'challenge'}
              %label{:for => 'dns'}
                DNS:
              %input#dns{:type => 'text', :name => 'dns'}
              %label{:for => 'email'}
                Email:
              %input#email{:type => 'text', :name => 'email'}
            .span4
              %label{:for => 'common_name'}
                Common name:
              %input#common_name{:type => 'text', :name => 'common_name'}
              %label{:for => 'organization'}
                Organization:
              %input#organization{:type => 'text', :name => 'organization'}
              %label{:for => 'locality'}
                Locality:
              %input#locality{:type => 'text', :name => 'locality'}
              %label{:for => 'country'}
                Country:
              %input#country{:type => 'text', :name => 'country'}
            .span4
              .alert.alert-error#error

          .row
            .span4.offset2
              %button.btn{:type => 'submit'}
                Submit







